[Unit]
Description=screen
After=network.target

[Service]
Type=simple
User=TEMPLATE_USER
ExecStart=/usr/bin/screen -DmS robot -c /opt/robot/config/gnuscreen/gnuscreen-base
ExecStop=/usr/bin/screen -S robot -X quit

[Install]
WantedBy=multi-user.target
