Package: my-deb-template
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: email@template.org
Description: template debian structure for a robot
